{% extends "partials/base.html" %} 
{% load static %}
{% load socialaccount %}
{% load i18n %}
{% block head_title %}{% trans "Sign Out" %}{% endblock %}
{% block navsocial %}
{% include "partials/navsocial.html" %}
{% endblock navsocial %}
{% block navbar %}
{% include "partials/navbar.html" %}
{% endblock navbar %}
{% block main %}
<link rel="stylesheet" href="{% static 'css/style1.css' %}">
<div class="container">
    <div class="card bg-light mx-auto mt-5 mb-5">
    <article class="card-body mx-auto" style="max-width: 400px;">
        <h2 class="card-title mt-3 text-center">{% trans "Sign Out" %}</h2>
        <hr>
        <p class="text-center mb-3">{% trans 'Are you sure you want to sign out?' %}</p>
        <form method="post" action="{% url 'account_logout' %}">
            {% csrf_token %}
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
            {% endif %}
            <button type="submit" class="btn btn-primary btn-block">{% trans 'Sign Out' %}</button>
          </form>
    </article>
    </div> 
</div>
{% endblock main %}
{% block footer %}
{% include "partials/footer.html" %}
{% endblock footer %}