{% extends "partials/base.html" %} 
{% load static %}
{% load i18n %}
{% block head_title %}{% trans "Set Password" %}{% endblock %}
{% load socialaccount %}
{% block navsocial %}
{% include "partials/navsocial.html" %}
{% endblock navsocial %}
{% block navbar %}
{% include "partials/navbar.html" %}
{% endblock navbar %}
{% block main %}
<link rel="stylesheet" href="{% static 'css/style1.css' %}">
<div class="container">
	<div class="card bg-light mx-auto mt-5 mb-5">
        <article class="card-body mx-auto" style="max-width: 400px;">
            <h4 class="card-title mt-3 text-center">{% trans "Set Password" %}</h4>
            <ul class="errorlist">
                {% for key, value in form.errors.items %}
                    <li>{{ value }}</li>
                {% endfor %}
                </ul>
            <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
                {% csrf_token %}
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                </div>
                <input name="oldpassword" class="form-control" placeholder="Current password" type="password" required>
            </div> <!-- form-group// -->
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                </div>
                <input class="form-control" name="password1" placeholder="New password" type="password" required>
            </div> <!-- form-group// -->
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                </div>
                <input class="form-control" name="password2" placeholder="New password again" type="password" required>
            </div> <!-- form-group// -->                                      
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block"> {% trans 'Set Password' %}  </button>
            </div> <!-- form-group// -->                                                                     
        </form>
        </article>
	</div>
</div>
{% endblock main %}
{% block footer %}
{% include "partials/footer.html" %}
{% endblock footer %}