{% extends "partials/base.html" %} 
{% load static %}
{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}
{% load socialaccount %}
{% block navsocial %}
{% include "partials/navsocial.html" %}
{% endblock navsocial %}
{% block navbar %}
{% include "partials/navbar.html" %}
{% endblock navbar %}
{% block main %}
<link rel="stylesheet" href="{% static 'css/style1.css' %}">
<div class="container">
	<div class="card bg-light mx-auto mt-5 mb-5">
        <article class="card-body mx-auto" style="max-width: 400px;">
            <h4 class="card-title mt-3 text-center">{% trans "Change Password successfully" %}</h4>
            <p class="text-center">{% trans 'Your password is now changed.' %}</p>
        </article>
	</div>
</div>
{% endblock main %}
{% block footer %}
{% include "partials/footer.html" %}
{% endblock footer %}