{% extends "partials/base.html" %} 
{% load static %}
{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}
{% load socialaccount %}
{% block navsocial %}
{% include "partials/navsocial.html" %}
{% endblock navsocial %}
{% block navbar %}
{% include "partials/navbar.html" %}
{% endblock navbar %}
{% block main %}
<link rel="stylesheet" href="{% static 'css/style1.css' %}">
<div class="container">
	<div class="card bg-light mx-auto mt-5 mb-5">
        <article class="card-body mx-auto" style="max-width: 400px;">
            <h2 class="card-title mt-3 text-center">{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h2>
            {% if token_fail %}
                {% url 'account_reset_password' as passwd_reset_url %}
                <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
            {% else %}
                {% if form %}
                    <form method="POST" action="{{ action_url }}">
                        {% csrf_token %}
                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                            </div>
                            <input class="form-control" name="password1" placeholder="New Password" type="password" required>
                        </div> <!-- form-group// -->
                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                            </div>
                            <input class="form-control" name="password2" placeholder="New password again" type="password" required>
                        </div> <!-- form-group// -->                                      
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block"> Change password  </button>
                        </div> <!-- form-group// -->
                    </form>
                {% else %}
                    <p>{% trans 'Your password is now changed.' %}</p>
                {% endif %}
            {% endif %}
        </article>
	</div>
</div>
{% endblock main %}
{% block footer %}
{% include "partials/footer.html" %}
{% endblock footer %}