{% extends "partials/base.html" %} 
{% load static %}

{% block navsocial %}
{% include "partials/navsocial.html" %}
{% endblock navsocial %}
{% block navbar %}
{% include "partials/navbar.html" %}
{% endblock navbar %}
{% block main %}
<link rel="stylesheet" href="{% static 'css/style1.css' %}">

	<div class="container">
		<div class="card bg-light mx-auto mt-5 mb-5">
		<article class="card-body mx-auto" style="max-width: 500px;">
			<h4 class="card-title mt-3 text-center">Reset your Password!</h4>
            {% if form.errors %}
                    {% for field in form %}
                        {% for error in field.errors %}
                            <div class="alert alert-error">
                                <strong>{{ error|escape }}</strong>
                            </div>
                        {% endfor %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                        <div class="alert alert-error">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endif %}
			<p class="text-center">Please enter your registered email address!</p>
			<form method="POST" action="/accounts/password/reset/">
                {% csrf_token %}
			<div class="form-group input-group">
				<div class="input-group-prepend">
					<span class="input-group-text"> <i class="fa fa-lock"></i> </span>
				</div>
				<input class="form-control" type="email" name="email" placeholder="Email" id="id_email" required>
			</div> <!-- form-group// -->                                      
			<div class="form-group">
				<button type="submit" class="btn btn-primary btn-block"> Reset password  </button>
			</div> <!-- form-group// -->                                                            
		</form>
		</article>
		</div> 
	</div>
{% endblock main %}
{% block footer %}
{% include "partials/footer.html" %}
{% endblock footer %}