# Core
Django>=4.2,<5
python-decouple

# ASGI / WebSockets
channels>=4.0
channels-redis>=4.2
daphne>=4.0

# Admin & blog
django-jazzmin
django-ckeditor

# Media & database
Pillow
psycopg2-binary
