{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Bree+Serif&family=Roboto+Slab&family=Shadows+Into+Light&family=Zilla+Slab&display=swap" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.27/dist/sweetalert2.all.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.27/dist/sweetalert2.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" ></script>
    <script src="{% static 'js/bootstrap.min.js' %}" ></script>

    <title>Futnet Nepal :: One Stop Web Apps for Futsal Enthusiast</title>
</head>
<body>
    <div id="contain">
        {% block navsocial %}
        {% endblock navsocial %}
        {% block navbar %}
        {% endblock navbar %}
        {% block message %}
            <script>
                {% if messages %}
                    {% for message in messages %}
                        {% if message.tags == 'alert-success' %}
                            Swal.fire({
                                icon: 'success',
                                title: 'Success',
                                text: '{{ message }}'
                            })
                        {% elif message.tags == 'alert-error' %}
                            Swal.fire({
                                icon: 'error',
                                title: 'Error',
                                text: '{{ message }}'
                            })
                        {% elif message.tags == 'alert-info' %}
                            Swal.fire({
                                icon: 'info',
                                title: 'Info',
                                text: '{{ message }}'
                            })
                        {% elif message.tags == 'alert-warning' %}
                            Swal.fire({
                                icon: 'warning',
                                title: 'Warning',
                                text: '{{ message }}'
                            })
                        {% else %}
                            Swal.fire({
                                title: '{{ message.tags }}',
                                text: '{{ message }}'
                            })
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </script>
            <script>
                {% if success_message %}
                    Swal.fire({
                        icon: 'success',
                        title: 'success',
                        text: '{{ success_message }}'
                    })
                {% endif %}
            </script>        
        {% endblock message %}
        {% block main %}
        {% endblock main %}
        {% block extra_body %}
        {% endblock extra_body %}
        {% block newsletter %}
        {% endblock newsletter %}
        {% block footer %}
        {% endblock footer %}
    </div>   
</body>
</html>