{% load static %}
<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="footer-nav common-module">
                    <h3>Quick Links & Support</h3>
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li><a href="#">News</a></li>
                        <li><a href="#">Offer</a></li>
                        <li><a href="#">Venue List</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Partner With Us</a></li>
                        <li><a href="#">Contact Us</a></li>
                        <li><a href="#">Activites</a></li>
                        <li><a href="#">FAQs</a></li>
                        <li><a href="{% url 'home' %}">Place</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="contact-dtl common-module">
                    <h3>Futnet Nepal Pvt. Ltd</h3>
                    <ul>
                        <li><span class="fa fa-map-marker"></span>Balaju Kathmandu Nepal</li>
                        <li><span class="fa fa-phone"></span>+977 9840177381 (Whats App/ Viber)</li>
                        <li><span class="fa fa-envelope"></span>info@futnetnepal.com</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-last">
        <div class="container">
            <div class="footer-last-holder">
                <div class="pay-online-link">
                    <h4>Pay Online</h4>
                    <a href="">
                        <div class="icon-wrap">
                            <img src="{% static 'images/esewa_logo.png' %}" alt="Esewa">
                            <img src="{% static 'images/Khalti_Digital_Wallet_Logo.png' %}" alt="Khalti">
                        </div>
                    </a>
                </div>
                <div class="copy-right">
                    <span> &copy; 2020 Futnet Nepal | Design and Developed by Shekhar Dhakal </span> 
                </div>
            </div>
        </div>
    </div>
</footer>