{% load static %}
<section id="navbar" >
    <div class="container">
    <nav class="navbar navbar-expand-lg bg-white p-3">
    <a class="navbar-brand" href="{% url 'index' %}">
        <img src="{% static 'images/logo.png' %}" alt="My logo">
      </a>            
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto mr-5">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'index' %}">HOME <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'about' %}">ABOUT US</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'partnerwithus' %}">PARTNER WITH US</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'blog' %}">BLOG</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'contact' %}">CONTACT US</a>
       </li>
        {% if request.user.is_authenticated %}
        <li class="nav-item active">
            <a class="nav-link " href="{% url 'profile' %}">PROFILE</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link btn btn-outline-danger rounded-pill ml-3 p-2" href="{% url 'account_logout' %}">LOGOUT</a>
        </li>
        {% else %}
        <li class="nav-item active">
          <a class="nav-link btn btn-outline-primary rounded-pill ml-3 p-2" href="{% url 'account_login' %}">LOGIN</a>
        </li>
        {% endif %}
      </ul>
    </div>
    </nav>
    </div>
</section>