{% load static %}
<section class="header-top">
    <div class="container">
        <div class="info">
            <span><i class="fa fa-phone"></i><a href="tel: +977 9840177381">+977 9840177391</a></span>
            <span><i class="fa fa-envelope"></i><a href="mailto:proxydhakal@outlook.com">info@futnetnepal.com</a></span>
        </div>
        <div class="social-icon">
            <a href="#" target="_blank" rel="nofollow" class="fa fa-facebook-square"></a>
            <a href="#" target="_blank" rel="nofollow" class="fa fa-twitter-square"></a>
            <a href="#" target="_blank" rel="nofollow" class="fa fa-instagram"></a>
            <a href="#" target="_blank" rel="nofollow" class="fa fa-linkedin"></a>
        </div>
    </div>
</section>