{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Register :: Futnet Nepal</title>
	<link rel="icon" href="{% static 'images/logo1.png' %}" type="image/x-icon">
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/style1.css' %}">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
</head>
<body>
	<div class="container">

		<div class="card bg-light">
		<article class="card-body mx-auto mb-5" style="max-width: 400px;">
			<h4 class="card-title mt-3 text-center">Create Account</h4>
			<a  href="{% url 'index' %}"><img style="display: block; margin-left: auto; margin-right: auto;" src="{% static 'images/logo1.png' %}" alt="logo"></a>
			<p class="text-center">Get started with your free account</p>
			<p>
				<a href="" class="btn btn-block btn-twitter"> <i class="fab fa-twitter"></i>   Login via Twitter</a>
				<a href="" class="btn btn-block btn-facebook"> <i class="fab fa-facebook-f"></i>   Login via facebook</a>
			</p>
			<p class="divider-text">
				<span class="bg-light">OR</span>
			</p>
			<form>
			<div class="form-group input-group">
				<div class="input-group-prepend">
					<span class="input-group-text"> <i class="fa fa-user"></i> </span>
				 </div>
				<input name="username" class="form-control" placeholder="Username" type="text">
			</div> <!-- form-group// -->
			<div class="form-group input-group">
				<div class="input-group-prepend">
					<span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
				 </div>
				<input name="email" class="form-control" placeholder="Email address" type="email">
			</div> <!-- form-group// -->
			<div class="form-group input-group">
				<div class="input-group-prepend">
					<span class="input-group-text"> <i class="fa fa-lock"></i> </span>
				</div>
				<input class="form-control" placeholder="Create password" type="password">
			</div> <!-- form-group// -->
			<div class="form-group input-group">
				<div class="input-group-prepend">
					<span class="input-group-text"> <i class="fa fa-lock"></i> </span>
				</div>
				<input class="form-control" placeholder="Repeat password" type="password">
			</div> <!-- form-group// -->                                      
			<div class="form-group">
				<button type="submit" class="btn btn-primary btn-block"> Create Account  </button>
			</div> <!-- form-group// -->      
			<p class="text-center">Have an account? <a href="">Log In</a> </p>                                                                 
		</form>
		</article>
		</div> <!-- card.// -->
		
	</div>
</body>
</html>