{% extends "partials/base.html" %} 
{% load static %}
{% block navbar %}
{% include "partials/navbar.html" %}
{% endblock navbar %}
{% block main %}
<div class="container">
    <div class="row">
        <!-- Button trigger modal -->
        <div class="mx-auto" style="width: 200px;">
            <button type="button" class="btn btn-primary mt-5 mr-5" data-toggle="modal" data-target="#exampleModalCenter">
                <i class="fas fa-plus"></i> Host a Match
            </button>
            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Create your events!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-body">
                        <form class="needs-validation" novalidate action="{% url 'home' %}" method="POST">
                          {% csrf_token %}
                            <div class="form-row">
                                <div class="col-md-6 mb-3">
                                    <label for="validationTooltip02">Location</label>
                                    <select class="custom-select mr-sm-2" id="inlineFormCustomSelect" name="location">
                                        <option selected="selected" disabled>Select Location</option>
                                        {% for location in locations %}
                                        <option value="{{location.id}}">{{location.name}}</option>
                                        {% endfor %}
                                      </select>
                                    </div>
                              <div class="col-md-6 mb-3">
                                <label for="validationTooltip01">Select Venue</label>
                                <select class="custom-select mr-sm-2" id="inlineFormCustomSelect" name="venue">
                                    <option selected="selected" disabled>Choose Futsal</option>
                                    {% for venue in venues %}
                                    <option value="{{venue.id}}">{{venue.name}}</option>
                                    {% endfor %}
                                    
                                  </select>
                              </div>
                            </div>
                            <div class="form-row">
                              <div class="col-md-6 mb-3">
                                <label for="validationTooltip03">Date</label>
                                <input type="date" name="date" class="form-control" id="validationTooltip03" placeholder="Date" required>
                                <div class="invalid-tooltip">
                                  Please provide a valid date.
                                </div>
                              </div>
                              <div class="col-md-6 mb-3">
                                <label for="validationTooltip04">Time</label>
                                <select class="custom-select mr-sm-2" id="inlineFormCustomSelect" name="time">
                                    <option selected="selected" disabled>Select time</option>
                                    {% for time in times %}
                                    <option value="{{time.id}}">{{time.name}}</option>
                                    {% endfor %}
                                  </select>
                              </div>
                              <div class="col-md-12 mb-3">
                                <label for="exampleFormControlTextarea1">Message</label>
                                <textarea class="form-control" name="message" id="exampleFormControlTextarea1" rows="3"></textarea>
                              </div>
                            </div>
                            <button class="btn btn-primary" type="submit">Create</button>
                          </form>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div> 
    <hr>
    <div class="row mb-5 mt-5">
        <div class="col-1"></div>
        <div class="col-md-7">
            {% for post in posts %}
            <div class="card mb-5">
                <div class="card-header">
                    <div class="media position-relative">
                        <img src="{% static 'images/opponent.jpg' %}" class="mr-3 rounded-circle" alt="..." height="60" width="60">
                        <div class="media-body" style="line-height:0pt;">
                            <h5 class="mt-2" style="line-height:0pt;">{{post.author.first_name}} {{post.author.last_name}}</h5>
                            <div class="dropdown float-right">
                                <i class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                </i>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                  <a class="dropdown-item mb-3" href="#">Edit</a>
                                  <a class="dropdown-item" href="#">Delete</a>
                                </div>
                              </div>
                            <h5><span>{{post.author}}</span></h5>
                            <span><small class="text-muted">{{ post.whenpublished }}</small></span>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <p>{{post.message}}</p>   
                </div>
                    <table class="table table-bordered text-center m-0">
                        <thead>
                          <tr>
                            {% comment %} <th scope="col"><i class="fas fa-map-marker-alt"></i> {{post.location}}</th> {% endcomment %}
                            <th scope="col"><i class="fas fa-map"></i> {{post.venue}}</th>
                            <th scope="col"><i class="fas fa-calendar-alt"></i> {{ post.date|date:"j D, Y" }}</th>
                            <th scope="col"><i class="fas fa-clock"></i> {{post.time}}</th>
                          </tr>
                        </thead>
                      </table>
            </div>
            {% endfor %}
        </div>
        <div class="col-md-3">
            <div class="card card-body">
                <h3>Catgories by:<span>Time</span></h3>
                
                <ul class="list-group">
                  {% for time in times %}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      {{time.name}} 
                      <span class="badge badge-primary badge-pill">14</span>
                    </li>
                    {% endfor %}
                  </ul>
            </div>
        </div>
        <div class="col-1"></div>
    </div>
</div>
{% endblock main %}
{% block footer %}
{% include "partials/footer.html" %}
{% endblock footer %}