{% extends "partials/base.html" %} 
{% load static %}
{% load crispy_forms_tags %}
{% block navbar %}
{% include "partials/navbar.html" %}
{% endblock navbar %}
{% block main %}
<div class="container">
    <div class="row mb-5 mt-5">
        <div class="col-1"></div>
        <div class="col-md-7">
            {% for post in categories %}
            <div class="card mb-5">
                <div class="card-header">
                    <div class="media position-relative">
                        <img src="/media/{{post.pimage}}" class="mr-3 rounded-circle" alt="..." height="60" width="60">
                        <div class="media-body" style="line-height:0pt;">
                            <h5 class="mt-2" style="line-height:0pt;">{{post.author.first_name}} {{post.author.last_name}}</h5>
                            {% if user.id == post.author_id %}
                            <div class="dropdown float-right">
                                <i class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                </i>
                                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item mb-3" href="#">Edit</a>
                                    <a class="dropdown-item" href="#">Delete</a>
                                  </div>
                              </div>
                              {% endif %}
                            <h5><span>{{post.author}}</span></h5>
                            <span><small class="text-muted">{{ post.whenpublished }}</small></span>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <p>{{post.message}}</p>   
                </div>
                    <table class="table table-bordered text-center m-0">
                        <thead>
                          <tr>
                            {% comment %} <th scope="col"><i class="fas fa-map-marker-alt"></i> {{post.location}}</th> {% endcomment %}
                            <th scope="col"><i class="fas fa-map"></i> {{post.venue}}</th>
                            <th scope="col"><i class="fas fa-calendar-alt"></i> {{ post.date|date:"j D, Y" }}</th>
                            <th scope="col"><i class="fas fa-clock"></i> {{post.time}}</th>
                          </tr>
                        </thead>
                      </table>
            </div>
            {% endfor %}
        </div>
        <div class="col-md-3">
            <div class="card card-body">
                <h3>Catgories by:<span>Time</span></h3>
                
                <ul class="list-group">
                  {% for time in times %}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      <a href="{% url 'post-cat' time.id %}">{{time.name}}</a> 
                      <span class="badge badge-primary badge-pill">{{time.total}}</span>
                    </li>
                    {% endfor %}
                  </ul>
            </div>
        </div>
        <div class="col-1"></div>
    </div>
</div>
{% endblock main %}
{% block footer %}
{% include "partials/footer.html" %}
{% endblock footer %}