/* /* body{
	background-image: linear-gradient(to right, #183866, #0b3559);
	margin-top: 150px !important;
} */
.card {
    border-radius: 5px;
    box-shadow: 0 0 3px #0963a0;
    z-index: 100;
    transition: 1s all;
    opacity: 1;
    width: 50%;
}
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .card {
        border-radius: 5px;
        box-shadow: 0 0 3px #0963a0;
        z-index: 100;
        transition: 1s all;
        opacity: 1;
        width: 100%;
    }
  }
.divider-text {
    position: relative;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
    
}
.divider-text span {
    padding: 7px;
    font-size: 12px;
    position: relative;   
    z-index: 2;
}
.divider-text:after {
    content: "";
    position: absolute;
    width: 100%;
    border-bottom: 1px solid #ddd;
    top: 55%;
    left: 0;
    z-index: 1;
}

.btn-facebook {
    background-color: #DB4437;
    color: #fff;
}
.btn-twitter {
    background-color: #42AEEC;
    color: #fff;
}
a img .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
} */